@using WebApplication1.Models
@{ List<Acc_Info> info = (List<Acc_Info>)ViewData["info"]; }
@{
    ViewBag.Title = "Oferta";
}



<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Poznaj niektóre oferty naszego banku</h4>


                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/3.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Konto @info[0].nazwa_typu<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">


                                <span class="card-title grey-text text-darken-4">Konto @info[0].nazwa_typu<i class="material-icons right">close</i></span>

                                <p>@info[0].opis</p>

                                @using (Html.BeginForm("NowyRachunek", "Create", FormMethod.Post))
                                {
                                    @Html.Hidden("id", (int)info[0].id_typu)
                                    <button class="waves-effect waves-light gradient-45d    eg-deep-purple-blue btn btn-block z-depth-4" type="submit" style="color:white;">Przejdź do szczegółów</button>

                                }


                                





                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/4.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Konto @info[1].nazwa_typu<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">

                                <span class="card-title grey-text text-darken-4">Konto @info[1].nazwa_typu<i class="material-icons right">close</i></span>

                                <p>@info[1].opis</p>
                                @using (Html.BeginForm("NowyRachunek", "Create", FormMethod.Post))
                                {
                                    @Html.Hidden("id", (int)info[1].id_typu)
                                    <button class="waves-effect waves-light gradient-45d    eg-deep-purple-blue btn btn-block z-depth-4" type="submit" style="color:white;">Przejdź do szczegółów</button>

                                }


                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/2.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Konto @info[2].nazwa_typu<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">

                                <span class="card-title grey-text text-darken-4">Konto @info[2].nazwa_typu<i class="material-icons right">close</i></span>

                                <p>@info[2].opis</p>
                                @using (Html.BeginForm("NowyRachunek", "Create", FormMethod.Post))
                                {
                                    @Html.Hidden("id", (int)info[2].id_typu)
                                    <button class="waves-effect waves-light gradient-45d    eg-deep-purple-blue btn btn-block z-depth-4" type="submit" style="color:white;">Przejdź do szczegółów</button>

                                }


                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/9.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Konto @info[3].nazwa_typu<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">


                                <span class="card-title grey-text text-darken-4">Konto @info[3].nazwa_typu<i class="material-icons right">close</i></span>

                                <p>@info[3].opis</p>
                                @using (Html.BeginForm("NowyRachunek", "Create", FormMethod.Post))
                                {
                                    @Html.Hidden("id", (int)info[3].id_typu)
                                    <button class="waves-effect waves-light gradient-45d    eg-deep-purple-blue btn btn-block z-depth-4" type="submit" style="color:white;">Przejdź do szczegółów</button>

                                }



                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/7.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Załóż lokatę<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">

                                <span class="card-title grey-text text-darken-4">Załóż lokatę<i class="material-icons right">close</i></span>

                                <p>Przejdź do panelu lokat</p>
                                @Html.ActionLink("Panel Lokat", "OfertaLokat", "Create", null, new { @class = "waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2" })


                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="~/img/deposit/8.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Weź kredyt<i class="material-icons right">more_vert</i></span>
                                <p>Kliknij i zobacz szczegóły</p>
                            </div>
                            <div class="card-reveal">

                                <span class="card-title grey-text text-darken-4">Weź kredyt<i class="material-icons right">close</i></span>

                                <p>Przejdź do panelu kredytowego</p>
                                @Html.ActionLink("Przejdź do ofert", "OfertaKredytowa", "Create", null, new { @class = "waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2" })


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

